{% extends "base.html" %}

{% block content %}
<section class="dashboard">
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>
        <p class="logo">Campus <b style="color: #6A0DAD;">Connect</b></p>
    </div>
    <br><br><br>

    <div class="activity">
        <div class="table-container">
            <div class="table-wrapper">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for feedback in feedbacks %}
                        <tr>
                            <td>{{ feedback.student.full_name }}</td>
                            <td>{{ feedback.student.email }}</td>
                            <td>{{ feedback.feedback_text }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}